---
import '../styles/global.css';
import {getCollection, render} from "astro:content";
import {Image} from "astro:assets";
import Navbar from '../components/Navbar.astro';
import Authors from "../components/Authors.astro";
const authors = await getCollection('authors');
export async function getStaticPaths() {
    const postsEntries = await getCollection('posts');
    return postsEntries.map((entry) => ({
        params: {slug: entry.slug}, props: {entry},
    }));
}

const {entry} = Astro.props;
const {Content} = await render(entry);
---
<head>
    <meta charset="utf-8"/>
</head>
<Navbar/>
<main>
    <header class="hero">
        <div class="img-holder">
            <Image src={entry.data.thumbnail} alt={entry.data.title}/>
        </div>
        <div class="content">
            <h1>{entry.data.title}</h1>
            <Authors authors={entry.data.author} allAuthors={authors}/>
        </div>
    </header>
    <section>
        <Content/>
    </section>
</main>
<style>
    main {
        margin-top: -92px;
    }
    header {
        position: relative;
        color: white;
        .img-holder {
            height: 500px;
            width: 100%;
            inset: 0;
            z-index: -1;
            background-image: linear-gradient(to right, rgba(235, 36, 135, 0.46), transparent, rgba(94, 243, 213, 0.3));

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                mix-blend-mode: color-dodge;
                filter: grayscale(1) brightness(.2);
            }
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: auto;
            transform: translate(-50%, -50%);
        }

        h1 {
            font-size: 4rem;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        }

    }

    section {
        max-width: 728px;
        margin: 0 auto;

        img {
            max-width: 100%;
            height: auto;
        }

    }


</style>