---
import '../styles/global.css';
import {getCollection, render} from "astro:content";
import Authors from "../components/Authors.astro";
import ImageOrImg from "../components/ImageOrImg.astro";
import Navbar from '../components/Navbar.astro';
import Meta from '../components/Meta.astro';
const authors = await getCollection('authors');
export async function getStaticPaths() {
    const postsEntries = await getCollection('posts');
    return postsEntries.map((entry) => ({
        params: {slug: entry.slug}, props: {entry},
    }));
}

const {entry} = Astro.props;
const {Content} = await render(entry);
---
<html>
    <Meta title={entry.data.title} description={entry.data.description} imageUrl={entry.data.thumbnail}/>
    <body data-pagefind-filter="type:posts">
        <Navbar/>
        <header class="hero">
            <div class="img-holder">
                <ImageOrImg image={entry.data.thumbnail} alt={entry.data.title}/>
            </div>
            <div class="content">
                <h1>{entry.data.title}</h1>
                <Authors authors={entry.data.author} allAuthors={authors}/>
            </div>
        </header>
        <main>
            <Content/>
        </main>
    </body>
</html>
<style>
    main {
        margin: 2rem auto;
        padding-top: 8px;
        max-width: 728px;

        p {
            margin-top: 1rem;
            line-height: 1.4;
        }

        ul {
            list-style: disc;
            padding-left: 1rem;
        }

        ol {
            list-style: decimal;
            padding-left: 1rem;
        }

        li {
            margin-top: 0.5rem;
            line-height: 1.4;
        }

        h2 {
            margin-top: 2rem;
            font-size: large;
        }

        h3 {
            margin-top: 1rem;
            font-size: medium;
        }

        pre {
            padding: 1rem;
            margin: 1rem 0;
            border-radius: 5px;
        }
    }

    header {
        position: relative;
        color: white;
        margin-top: -92px;
        padding-top: 92px;

        .img-holder {
            min-height: 440px;
            width: 100%;
            inset: 0;
            position: absolute;
            z-index: -1;
            background-image: linear-gradient(to right, rgba(235, 36, 135, 0.46), transparent, rgba(94, 243, 213, 0.3));

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                mix-blend-mode: color-dodge;
                filter: grayscale(1) brightness(.2);
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-image: radial-gradient(circle, rgba(37, 25, 73, 0.46), transparent);
                z-index: -2;
                box-shadow: rgba(13, 13, 13, 0.15) 0 0 10px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: calc(440px - 120px);
            max-width: 728px;
            margin: 0 auto;
            padding: 0 1rem;
        }

        h1 {
            font-size: 4rem;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin-bottom: 1rem;

        }

    }

    section {
        padding-top: 8px;
        max-width: 728px;
        margin: 0 auto;
        line-height: 1.6;


        img {
            max-width: 100%;
            height: auto;
        }

    }

</style>