---
import '../styles/global.css'
import {getCollection} from "astro:content";
import {format} from 'date-fns';
import Navbar from "../components/Navbar.astro";
import Authors from '../components/Authors.astro';
import ImageOrImg from "../components/ImageOrImg.astro";
import Post from "../components/Post.astro";

const posts = (await getCollection('posts')).toReversed();
const authors = await getCollection('authors');
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Bedrock Streaming Tech Blog</title>
</head>
<body>
<Navbar/>
<main>
    <header>
        <h1>Blog</h1>
        <p>Read about our streaming champions</p>
    </header>
    <section id="hero">
        <div class="main-post">
            <a class="img-holder" href={`/${posts[0].slug}`}>
                <ImageOrImg image={posts[0].data.thumbnail} alt={`${posts[0].data.title}`} loading="eager"/>
            </a>
            <div class="main-post-info">
                <div class="upper-part">
                    <span class="date">{format(posts[0].slug.slice(0, 10), 'MMMM dd, yyyy')}</span>
                    <hr/>
                    <h2><a href={`/${posts[0].slug}`}>{posts[0].data.title}</a></h2>
                    <p>{posts[0].data.description}</p>
                </div>
                <Authors authors={posts[0].data.author} allAuthors={authors}/>
            </div>
        </div>
        <Post post={posts[0]} authors={authors} class="displayOnMobileOnly"/>
    </section>
    <section class="recent-posts">
        <h2>Recent Posts</h2>
        <ul class="posts-list">
            {posts.slice(1, 7).map((post) => (
                    <Post post={post} authors={authors}/>
            ))}
        </ul>
    </section>
</main>
</body>
</html>

<style>
    :root {
        --local-primary-color: var(--color-ink);
    }

    main {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;

        header {
            color: white;
            padding: 5rem 0;

            h1 {
                margin: 1rem 0;
                font-size: 4rem;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 400px;
                background-size: cover;
                background-image: linear-gradient(to right, var(--color-ink), var(--color-iris));
                z-index: -1;
                box-shadow: rgba(13, 13, 13, 0.15) 0 0 10px;
            }
        }
    }

    .main-post {
        display: none;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
        background: white;

        --hero-text-width: 390px;
        --hero-img-height: 360px;

        .img-holder {
            width: calc(100% - var(--hero-text-width));
            height: var(--hero-img-height);

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .main-post-info {
            width: var(--hero-text-width);
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .upper-part {
                h2 {
                    font-size: 1.7rem;
                    line-height: 1.2;
                    margin-bottom: 2rem;
                }

                p {
                    line-height: 1.6;
                }

                .date {
                    font-size: 0.8rem;
                    color: #666;
                }

                hr {
                    margin: 0.5rem 0;
                }
            }
        }

        @media (min-width: 768px) {
            display: flex;
            gap: 1rem;
        }
    }

    .posts-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: -1rem;
    }

    .recent-posts {
        margin-top: 3rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
</style>