---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Authors from '../components/Authors.astro';
import {Image} from "astro:assets";
import {getCollection} from "astro:content";

const lfts = (await getCollection('lfts')).toReversed();
const allAuthors = await getCollection('authors');
---
<head>
    <meta charset="utf-8"/>
</head>
<Navbar/>
<main>
    <header>
        <h1>Last Friday Talk</h1>
        <p>Watch the replays of our internal conferences, learn and discover as much as we do.</p>
    </header>
    <section class="description">
        <h2>What are Last Friday Talks?</h2>

        <p>Last friday talks were at first internal technical conferences at the end of each month given by Bedrock
            employees about various subjects. The concept of LFT has been introduced in this article 🇫🇷.
            Since this article, the event has evolved to include non-technical talks. Everyone can share their passion.
            Here are some replays of LFT available on Youtube:</p>
    </section>
    <section class="video-list">
        {lfts.map((lft) => (
                <article>
                    <a href={`/lft/${lft.slug}`}>
                        <div>
                            <Image
                                    src={`https://img.youtube.com/vi/${lft.data.youtubeId}/hqdefault.jpg`}
                                    alt={lft.data.title}
                                    width={300}
                                    height={169}
                            />
                        </div>
                        <h3>{lft.data.title}</h3>
                        <Authors authors={lft.data.author} allAuthors={allAuthors} />
                    </a>
                </article>
        ))}
    </section>
</main>

<style>
    main {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;

        header {
            color: white;
            padding: 5rem 0;
            margin-bottom: -50px;

            h1 {
                margin: 1rem 0;
                font-size: 4rem;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 400px;
                background-size: cover;
                background-image: linear-gradient(to right, var(--color-scarlet), var(--color-ink));
                z-index: -1;
                box-shadow: rgba(13, 13, 13, 0.15) 0 0 10px;
            }
        }
    }

    .description {
        margin-bottom: 2rem;
        background-color: white;
        padding: 1rem 2rem;
        width: 100%;
    }

    .video-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        margin-bottom: 4rem;
        @media (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        article {
            background-color: white;
            cursor: pointer;

            div > img {
                width: 100%;
            }

            h4 {
                margin: 1rem 0;
            }

            p {
                margin: 0.5rem 0;
            }
        }
    }
</style>