<div class="post-info">
{% for authorId in include.authors %}
{% assign author = site.data.authors[authorId] %}
{% assign date = include.date | default: "today" | date: "%B %-d, %Y" %}

  {%- if author.url -%}
    <a
      href="{{ author.url | relative_url }}"
      target="_blank"
      rel="noopener"
      class="author">
  {%- else -%}
    <span class="author">
  {%- endif -%}

    {% if author.avatar %}
      <img alt="Author's avatar" src="{{ author.avatar | relative_url }}" class="thumbnail">
    {% endif %}

    {% if author.name %}
      <span class="name">
        {{ author.name }}
      </span>
    {% endif %}

  {%- if author.url -%}
    </a>
  {%- else -%}
    </span>
  {%- endif -%}

<span class="spacer"> - </span>

{% endfor %}

  <span class="publication-date">
    {% assign monthIndex = date | date: "%m" | minus: 1 %}
    {{ site.data.language.str_months[monthIndex] | default: date | date: "%B" }} {{ date | date: "%d, %Y" }}
  </span>
</div>
