---
import ImageOrImg from "./ImageOrImg.astro";
const {authors, allAuthors} = Astro.props;
---

<div id="authors">
    {
        Array.isArray(authors) ?
            authors.map((author) => {
                const authorData = allAuthors.find((a) => a.id === author);
                const authorUrl = authorData.data.url;
                if (authorUrl) {
                    return (
                            <a href={authorUrl}>
                                <ImageOrImg class='author-img' image={authorData.data.avatar}
                                            alt={`Avatar for ${authorData.data.name}`}/>
                                <span>{authorData.data.name}</span>
                            </a>
                    );
                }
                return (
                        <div>
                            <ImageOrImg class='author-img' image={authorData.data.avatar}
                                        alt={`Avatar for ${authorData.data.name}`}/>
                            <span>{authorData.data.name}</span>
                        </div>
                );
            }) :
                <a href={`/${authors}`}>
                    <ImageOrImg class='author-img' image={allAuthors.find((a) => a.id === authors)?.data.avatar}
                                alt={`Avatar for ${allAuthors.find((a) => a.id === authors)?.data.name}`}/>
                    <span>{allAuthors.find((a) => a.id === authors)?.data.name}</span>
                </a>
    }
</div>

<style>
    #authors {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
    }

    .author-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    #authors span {
        display: flex;
        flex-flow: row wrap;
        height: 20px;
        align-items: center;
    }

    #authors a, #authors div {
        display: flex;
        gap: 0.4rem;
        align-items: center;
    }
</style>